SUBSYSTEM=="block", KERNEL=="mmcblk[0-9]", ACTION=="add", \
  RUN+="/usr/bin/killall -USR1 automount"

SUBSYSTEM=="block", KERNEL=="mmcblk[0-9]", ACTION=="remove", \
  RUN+="/usr/bin/killall -USR1 automount"
